.sezzlepay-section span.logo {
    padding-left:110px;
    background:url(images/sezzlepay_logo.png) no-repeat 0 0;
    line-height:36px;
    padding-bottom: 15px;
}

.sezzlepay-section strong.text {
    vertical-align: bottom;
}