<?xml version="1.0"?>
<!--
/*
 * @category    Sezzle
 * @package     Sezzle_Sezzlepay
 * @copyright   Copyright (c) Sezzle (https://www.sezzle.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <sezzle>
		        <active>0</active>
                <model>Sezzle\Sezzlepay\Model\Sezzle</model>
                <order_status>pending</order_status>
                <merchant_country>US</merchant_country>
                <payment_mode>sandbox</payment_mode>
                <log_tracker>1</log_tracker>
                <payment_action>authorize_capture</payment_action>
                <tokenize>1</tokenize>
                <send_logs_via_cron>1</send_logs_via_cron>
                <title>Sezzle</title>
	        </sezzle>
        </payment>
    </default>
</config>
