<?xml version="1.0"?>
<!--
/*
 * @category    Sezzle
 * @package     Sezzle_Sezzlepay
 * @copyright   Copyright (c) Sezzle (https://www.sezzle.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <sezzlepay>
<!--                Magento 2 standard config-->
		        <active>0</active>
                <debug>1</debug>
                <title>Sezzle</title>
                <is_gateway>1</is_gateway>
                <model>SezzleFacade</model>
                <payment_action>authorize_capture</payment_action>
                <order_status>pending</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>US,CA</specificcountry>
                <defer_funds_capture>0</defer_funds_capture>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_refund>1</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

<!--                Sezzle specific config-->
                <payment_mode>sandbox</payment_mode>
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <log_tracker>1</log_tracker>
                <active_in_context>0</active_in_context>
                <tokenize>1</tokenize>
                <sort_order>0</sort_order>
                <send_logs_via_cron>0</send_logs_via_cron>
                <active_in_context>0</active_in_context>
                <settlement_reports>0</settlement_reports>
                <widget_pdp>0</widget_pdp>
                <widget_cart>0</widget_cart>
                <widget_installment>1</widget_installment>
                <widget_installment_price_path>.grand.totals>.amount</widget_installment_price_path>
	        </sezzlepay>
        </payment>
    </default>
</config>
