<?xml version="1.0"?>
<!--
/*
 * @category    Sezzle
 * @package     Sezzle_Sezzlepay
 * @copyright   Copyright (c) Sezzle (https://www.sezzle.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Sezzle\Sezzlepay\Model\Api\ProcessorInterface" type="Sezzle\Sezzlepay\Model\Api\Processor"/>
	<preference for="Sezzle\Sezzlepay\Model\System\Config\Container\SezzleConfigInterface" type="Sezzle\Sezzlepay\Model\System\Config\Container\SezzleIdentity"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\AddressInterface" type="Sezzle\Sezzlepay\Model\Api\Data\Address"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\AmountInterface" type="Sezzle\Sezzlepay\Model\Api\Data\Amount"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\AuthInterface" type="Sezzle\Sezzlepay\Model\Api\Data\Auth"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\AuthorizationInterface" type="Sezzle\Sezzlepay\Model\Api\Data\Authorization"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\CustomerInterface" type="Sezzle\Sezzlepay\Model\Api\Data\Customer"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\OrderInterface" type="Sezzle\Sezzlepay\Model\Api\Data\Order"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\PaymentActionInterface" type="Sezzle\Sezzlepay\Model\Api\Data\PaymentAction"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\SessionInterface" type="Sezzle\Sezzlepay\Model\Api\Data\Session"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\SessionOrderInterface" type="Sezzle\Sezzlepay\Model\Api\Data\SessionOrder"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\SessionTokenizeInterface" type="Sezzle\Sezzlepay\Model\Api\Data\SessionTokenize"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\LinkInterface" type="Sezzle\Sezzlepay\Model\Api\Data\Link"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\TokenizeCustomerInterface" type="Sezzle\Sezzlepay\Model\Api\Data\TokenizeCustomer"/>
    <preference for="Sezzle\Sezzlepay\Api\Data\SettlementReportsInterface" type="Sezzle\Sezzlepay\Model\SettlementReports"/>
    <preference for="Sezzle\Sezzlepay\Api\V1Interface" type="Sezzle\Sezzlepay\Model\Api\V1"/>
    <preference for="Sezzle\Sezzlepay\Api\V2Interface" type="Sezzle\Sezzlepay\Model\Api\V2"/>
    <preference for="Sezzle\Sezzlepay\Api\SettlementReportsRepositoryInterface" type="Sezzle\Sezzlepay\Model\SettlementReportsRepository"/>
    <preference for="Sezzle\Sezzlepay\Api\SettlementReportsManagementInterface" type="Sezzle\Sezzlepay\Model\SettlementReportsManagement"/>
    <preference for="Sezzle\Sezzlepay\Api\OrderManagementInterface" type="Sezzle\Sezzlepay\Model\OrderManagement"/>
    <preference for="Sezzle\Sezzlepay\Api\GuestOrderManagementInterface" type="Sezzle\Sezzlepay\Model\GuestOrderManagement"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="settlement_reports_listing_data_source" xsi:type="string">Sezzle\Sezzlepay\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
