<?xml version="1.0"?>
<!--
/*
 * @category    Sezzle
 * @package     Sezzle_Sezzlepay
 * @copyright   Copyright (c) Sezzle (https://www.sezzle.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="sezzle_pay_availability" instance="Sezzle\Sezzlepay\Observer\MethodAvailabilityObserver" />
    </event>
</config>
