<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_void">
        <observer name="sezzle_payment_sales_order_payment_void" instance="Sezzle\Payment\Observer\OrderStatusChangeOnVoidObserver" />
    </event>
</config>
