<?xml version="1.0"?>
<!--
/*
 * @category    Sezzle
 * @package     Sezzle_Sezzlepay
 * @copyright   Copyright (c) Sezzle (https://www.sezzle.com/)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_void">
        <observer name="sezzle_sales_order_payment_void" instance="Sezzle\Sezzlepay\Observer\OrderStatusChangeOnVoidObserver" />
    </event>
</config>
