<?xml version="1.0"?>
<!--
/*
 * @category    Sezzle
 * @package     Sezzle_Sezzlepay
 * @copyright   Copyright (c) Sezzle (https://www.sezzle.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sezzle_Sezzlepay::sezzle_settlement_reports" title="Sezzle Settlement" translate="title" module="Sezzle_Sezzlepay" sortOrder="80" parent="Magento_Reports::report_salesroot" action="sezzle/settlementReports/" dependsOnConfig="payment/sezzlepay/settlement_reports" resource="Sezzle_Sezzlepay::settlement_reports"/>
    </menu>
</config>
